


<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
 
<div text-allign:center ><h1>Course Management</h1></div>
    <nav class="navigation">

  
  
  
  <ul>
   
    <li><a routerLink="Trends">Trends</a></li>
   
    <li><a routerLink="Add">Add Courses </a></li>
    <li><a class="active" routerLink="Home">Home</a></li>
   
  </ul>
  
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<router-outlet></router-outlet>